{% extends "base.html.twig" %}

{% block body %}

    <h3>Détail de la commande numéro {{numCmde}}</h3>

    <div class="showCmd">
    {% for commandes in commande %}
        {{commandes.produit}} x
        {{commandes.quantity}}
    <hr>
    {% endfor %}
    </div>
{% endblock %}