{% extends "base.html.twig" %}

{% block body %}

    <p style="color:white; text-align: center;">Retrouvez notre designer sur son instagram: <a href="https://www.instagram.com/miss_evee_geek"/><img src="{{asset('img/insta.png')}}" width="32" style="width: 32px;"> Evee_Geek</a></p>

{% endblock %}