{% extends 'base.html.twig' %}

{% block body %}


<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <div class="slide first">
            <img src="{{ asset('img/banniereMulan.jpg') }}">
        </div>
        <div class="slide">
            <img src="{{ asset('img/banniereArthur.jpg') }}">
        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
        </div>

    </div>
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
    </div>
</div>

<h1 style="margin-top:5%;">top vente</h1><br>

    <section class="content">

        <article class="hometopvente">
            <h2>Mulan</h2>
            <div class="btn-group-vertical">
                <img src="{{ asset('upload/e6946c440b82c712c00db6e564a4f37e.jpg') }}" id="imgtopvente"><br>
            </div>
        </article>

        <article class="hometopvente">
            <h2>Arthur</h2>
            <div class="btn-group-vertical">
                <img src="{{ asset('upload/54d8ac64c3c363e7b3f20fe185baa782.jpg') }}" id="imgtopvente"><br>
            </div>
        </article>

    </section>
    <div id="presentation">
        <p>
            Je vous présente les bougies d'EllzaCandle réalisées avec la passion de la cinématographie et une subtilité d'odeur agréable pour tous les goûts.
            Elles ont été réfléchies et créées de manière à ce que chaque vapeur de bougie vous rappelle votre film, série ou encore Disney préféré!
         </p>
         <p>
            Elles sont fabriquées à la cire naturelle de soja.
         </p>
    </div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
            var counter = 1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked = true;
                counter++;
                if(counter > 2){
                    counter = 1;
                }
            }, 5000);
</script>
{% endblock %}