{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Votre paiement n'a pas été accepté, veuillez recommencer</h1>
    <a href="{{path('panier')}}" style="margin-left:45%;">Retourner au panier</a>
{% endblock %}
