{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Paiement accepté!</h1>
    <a href="{{path('home')}}" style="margin-left:45%;">Retourner à l'accueil</a>
{% endblock %}